########
# Global
########
set -a # exports vars - docker needs no export, but bash scripts do

# remote hosts
# I use an ssh config file to specify the user/ip combination
# for ssh interaction. These are hosts specified in ~/.ssh/config
PROD_HOST=web
UAT_HOST=web

# Session keys
FLASK_SECRET_KEY="mysecretflaskkey"
SESSION_SECRET="mysessionsecret"

######################
# Environment-Specific
######################

# The port exposed by the service.
EXPOSED_PORT=5000
UAT_EXPOSED_PORT=5001

# The public-facing url. May be routed behind a proxy. Must match OAuth redirect.
DEV_SITE=http://localhost:${EXPOSED_PORT}
UAT_SITE=http://uat-env:${UAT_EXPOSED_PORT}
PRD_SITE=https://prod-env


# OAuth authentication keys
UAT_CLIENT_ID=myuatclientid
UAT_CLIENT_SECRET=myuatclientsecret
PRD_CLIENT_ID=myprodclientid
PRD_CLIENT_SECRET=myprodclientsecret

# paths
CONTENT_PATH=/path/to/markdown/content
SITE_PATH=/path/to/hugo/output
SOURCE_PATH=/path/to/micropub/src
