export FLASK_ENV=development
export SITE=http://localhost:5000

export FLASK_SECRET_KEY=mysecretkey
export SESSION_SECRET=mysessionsecret
export CLIENT_ID=myoauthclientid
export CLIENT_SECRET=myoauthclientsecret
