{% extends "layout.html" %}
{% block content %}
<!-- The form for entering a new log -->
<form id="log-form" action="{{ create_route }}" method="POST" class="entry-form">

  <p>Enter your log. <a href="https://www.markdownguide.org/cheat-sheet">Markdown</a> supported.</p>
  <div>
    <textarea name="content" rows=20 class="content"></textarea>
  </div>

  <div class="buttons">
    <input id="log_date" type="text" name="current_date" value="" hidden>
    <input id="type" type="text" name="post_type" value="log" hidden>
    <button type="submit">Publish!</button>
  </div>
</form>
  <script type="text/javascript" src="{{ script }}"></script>
{% endblock %}
