{% extends "layout.html" %}
{% block content %}
<div class="create">
  <form id="create-form" action="{{ create_route }}" method="POST">

    <p>Enter your note. <a href="https://www.markdownguide.org/cheat-sheet">Markdown</a> supported.</p>
    {{ form.content(rows=20, class="content") }}

    <p>Enter a title for your note:</p>
    {{ form.title(class="title") }}

    <p>Enter a few tags, separated by spaces, to help find this comment:</p>

    <blockquote>
      <label>Examples:</label>
      <ul>
        <li>children parenting</li>
        <li>software design</li>
        <li>bible</li>
      </ul>
    </blockquote>

    {{ form.tags(class="tags") }}

    <p>Select your options, then click publish!</p>
    <div class="input-set">
      {{ form.comments.label }}
      {{ form.comments(checked=True) }}
    </div>

    {{ form.current_date }}
    {{ form.submit }}
  </form>
</div>

  <script type="text/javascript" src="{{ script }}"></script>
{% endblock %}
