{% extends "layout.html" %}
{% block content %}
<div class="edit">
  <form id="edit-form" action="{{ save_route }}" method="POST">
    {{ form.csrf_token }}

    <div class="view-set">
      {{ form.title.label }}
      {{ form.title(readonly=True, class="title") }}
    </div>
    <div class="view-set">
      {{ form.tags.label }}
      {{ form.tags(readonly=True, class="tags") }}
    </div>
    <div class="view-set">
      {{ form.comments.label }}
      {{ form.comments() }}
    </div>
    {{ form.content(rows=20, class="content") }}
    {{ form.submit }}
  </form>
</div>
  <script type="text/javascript" src="{{ script }}"></script>
{% endblock %}
