<!DOCTYPE html>
<html>

<head>
    <title>Of Chaos and Order - Login</title>
    <link href="{{ style }}" type="text/css" rel="stylesheet">
    <link href="{{ normalize_style }}" type="text/css" rel="stylesheet">
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
</head>

<body>
  <div class="login">
    <form id="entry-form" action="{{ login_route }}" method="POST">
      <p>Select your login:</p>
      {{ form.action }}
      {{ form.submit }}
    </form>
  </div>
</body>
</html>