<!DOCTYPE html>
<html>

<head>
    <title>Of Chaos and Order - Create</title>
    <link href="{{ style }}" type="text/css" rel="stylesheet">
    <link href="{{ normalize_style }}" type="text/css" rel="stylesheet">
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
</head>

<body>
    <form action="{{ create_route }}" method="POST" class="entry-form">

      <p>Select an overall category for this comment:</p>
       <div class="categories">
            <div><input id="personal" type="radio" name="category" value="personal" class="category" /><label for="personal">Personal</label></div>
            <div><input id="spiritual" type="radio" name="category" value="spiritual" class="category" /><label for="spiritual">Spiritual</label></div>
            <div><input id="business" type="radio" name="category" value="business" class="category" /><label for="business">Business</label></div>
            <div><input id="technology" type="radio" name="category" value="technology" class="category" /><label for=" technology">Technology</label></div>
            <div><input id="resources" type="radio" name="category" value="resources" class="category" /><label for="resources">Resources</label></div>
      </div>

      <p>Enter your comment. <a href="https://www.markdownguide.org/cheat-sheet">Markdown</a> supported.</p>
      <div>
        <textarea name="content" rows=20 class="content"></textarea>
      </div>

      <p>Enter a few tags, separated by spaces, to help find this comment:</p>

      <blockquote>
        Examples:<br />
        <ul>
        <li>link children parenting</li>
        <li>family travel</li>
        <li>gratitude</li>
        </ul>
      </blockquote>

      <div class="tags">
        <label for="tags">Tags:</label>
        <input type="text" name="tags" class="tag">
      </div>

      <p>Select your options, then click publish!</p>
      <div class="options">
          <div><input id="comments" type="checkbox" name="comments" class="option" checked><label for="comments">Allow Comments?</label></div>
      </div>

      <div class="buttons">
        <input id="date" type="text" name="current_date" value="" hidden>
        <button type="submit">Publish!</button>
      </div>
    </form>
      <script type="text/javascript" src="{{ script }}"></script>
  </body>
</html>