<!DOCTYPE html>
<html>

<head>
    <title>Of Chaos and Order - Login</title>
    <link href="{{ style }}" type="text/css" rel="stylesheet">
    <link href="{{ normalize_style }}" type="text/css" rel="stylesheet">
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
</head>

<body>
    <form action="{{ login_route }}" method="POST" class="entry-form">
      <p>Select your login:</p>
       <div class="options">
          <div><input type="radio" name="option" value="google" class="category" /><label for="google">Google</label></div>
          <div><input type="radio" name="option" value="github" class="category" /><label for="github">Github</label></div>
        </div>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>