{% extends "layout.html" %}
{% block content %}
<div class="create">
  <form id="create-form" action="{{ create_route }}" method="POST">
    {{ form.csrf_token }}

    <p>Enter your note. <a href="https://www.markdownguide.org/cheat-sheet">Markdown</a> supported.</p>
    {{ form.content(rows=20, class="content") }}

    <p>Enter a title for your note:</p>
    {{ form.title(class="title") }}

    <p>Enter a few tags in TOML format to help find this comment:</p>

    <blockquote>
      <label>Examples:</label>
      <ul>
        <li>['children', 'parenting',]</li>
        <li>['software', 'design',]</li>
        <li>['bible']</li>
      </ul>
    </blockquote>

    {{ form.tags(class="tags") }}

    <p>If there is another file which should link to this note, enter it here in TOML format</p>

    <blockquote>
      <label>Examples:</label>
      <ul>
        <li>['/notes/craft-your-own-site',]</li>
        <li>['/notes/craft-your-own-site','/posts/insights/time-budget',]</li>
      </ul>
    </blockquote>

    {{ form.backlinks(class="tags") }}

    <p>Select your options, then click publish!</p>
    <div class="input-set">
      {{ form.comments.label }}
      {{ form.comments(checked=True) }}
    </div>

    {{ form.current_date(hidden=True) }}
    {{ form.submit }}
  </form>
</div>

  <script type="text/javascript" src="{{ script }}"></script>
{% endblock %}
